*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #18181b;
}

#ultimoGiro,
#sezioneRegistra,
#sezioneRiepilogo{
    width: calc(100% - 2rem);
    margin-inline: 1rem;
}





/* Rimuove l'alone blu sui pulsanti della barra in basso al click */
.navbar .btn:focus {
  box-shadow: none;
}